{% comment %} product_meta.html {% endcomment %}

<title>{{ product.title|truncatechars:60 }}</title>
<link rel="canonical" href="https://uttarworld.com{{ request.path }}">

<meta name="description" content="{{ product.meta_description|truncatechars:160 }}">

<meta property="og:type" content="product">
<meta property="og:title" content="{{ product.title|truncatechars:60 }}">
<meta property="og:description" content="{{ product.meta_description|truncatechars:160 }}">

{% if product.variants.first.image_url %}
<meta property="og:image" content="{{ product.variants.first.image_url }}">
{% endif %}

<meta property="og:url" content="https://uttarworld.com{{ request.path }}">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ product.title|truncatechars:60 }}">
<meta name="twitter:description" content="{{ product.meta_description|truncatechars:160 }}">

{% if product.variants.first.image_url %}
<meta name="twitter:image" content="{{ product.variants.first.image_url }}">
{% endif %}