Django==5.2.7
gunicorn
psycopg2-binary
dj-database-url==3.0.1
whitenoise==6.11.0

# Cloudinary Packages
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# CKEditor Packages
django-ckeditor==6.7.3
django-js-asset==3.1.2

Pillow
