/* admin.css में इसे जोड़ें */
.tabular .field-selling_price input, 
.tabular .field-coupon_code input,
.tabular .field-store_name input,
.tabular .field-earn_karo_url input {
    width: 50px !important; 
}
/* Arrow बटन और Collapse आइकॉन को छिपाने के लिए */
.nested-tabular .grp-collapse .grp-collapse-handler,
.nested-tabular .collapse .collapse-handler,
.nested-tabular .grp-closed .grp-collapse-handler,
.nested-tabular .grp-open .grp-collapse-handler {
    display: none !important;
}

/* अगर बॉर्डर या एक्स्ट्रा पैडिंग आ रही है उसे ठीक करने के लिए */
.nested-tabular .grp-collapse {
    border: none !important;
    padding: 0 !important;
}

/* कूपन वाले इनलाइन के लिए */
.variantstorecoupon-inline .collapse-handler {
    display: none !important;
}