{% extends 'shopping/shop_base.html' %}
{% block content %}
<div class="container my-5">
    <h2>Refund & Returns Policy</h2>
    <h5>How to initiate a return:</h5>
    <ul>
        <li>You can request a return within 7 days of delivery.</li>
        <li>The product must be in its original packaging.</li>
        <li>Refunds are processed within 5-7 business days after we receive the product.</li>
    </ul>
    <p>If you have any questions, please reach out to our support team.</p>
</div>
{% endblock %}