{% load static %}
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name='impact-site-verification' value='66a0796d-8fc8-4e80-b056-713dc1a64b9a'>

{% if category %}
    <link rel="canonical" href="https://uttarworld.com{{ request.path }}">
{% elif product %}
    <link rel="canonical" href="https://uttarworld.com{{ request.path }}">
{% else %}
    <link rel="canonical" href="https://uttarworld.com/">
{% endif %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-584KZTDKXT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-584KZTDKXT');
</script>

{% block extra_head %}
    {# Global Organization & Website Schema #}
    {% include 'shopping/schema/org_schema.html' %}

    {# Page-Specific Schema #}
    {% if product %}
        {% include 'shopping/schema/product_schema.html' %}
    {% elif category %}
        {% include 'shopping/schema/category_schema.html' %}
    {% endif %}
{% endblock %}


{% if product %}
    {% include 'shopping/facebook/product_meta.html' %}
    {% elif category %}
        {% include 'shopping/facebook/catagory_meta.html' %}
    {% else %}
        {% include 'shopping/facebook/home_meta.html' %}
{% endif %}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ adsense_client }}" crossorigin="anonymous"></script>
    

