<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ category.name|escapejs }}",
  "description": "{{ category.meta_description|default:category.description|striptags|truncatechars:300|escapejs }}",
  {% if category.image_url %}
  "image": "{{ category.image_url }}",
  {% endif %}
  {% if category.keywords %}
  "keywords": "{{ category.keywords|escapejs }}",
  {% endif %}
  "url": "https://www.uttarworld.com{{ request.path }}",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {% for product in products|slice:":20" %}
        {% with first_variant=product.variants.first %}
          {% if product.title and first_variant %}
      {
        "@type": "ListItem",
        "position": {{ forloop.counter }},
        "item": {
          "@type": "Product",
          "name": "{{ product.title|escapejs }}",
          "url": "{{ request.scheme }}://{{ request.get_host }}{{ product.get_absolute_url }}"
          {% if first_variant.image_url %}
          ,
          "image": "{{ first_variant.image_url }}"
          {% endif %}
          ,
          "offers": {
            "@type": "Offer",
            "priceCurrency": "{{ product.currency|default:'INR' }}",
            "price": "{% if first_variant.coupons.first.selling_price %}{{ first_variant.coupons.first.selling_price }}{% else %}{{ first_variant.price|default:'0.00' }}{% endif %}",
            "availability": "https://schema.org/InStock",
            "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'product_detail' product.slug %}"
          }
        }
      }{% if not forloop.last %},{% endif %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    ]
  }
}
</script>