<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",

  "name": "Uttar World Elite Lifestyle Store",

  "url": "https://www.uttarworld.com/",

  "logo": {
    "@type": "ImageObject",
    "url": "https://www.uttarworld.com/static/images/uttarworld-shopping-icon.png"
  },

  "description": "{{ home_seo.meta_description|default:''|striptags|escapejs }}",

  "keywords": "{{ home_seo.meta_keywords|default:''|escapejs }}",

  "email": "mailto:uttarwolrd.com@gmail.com",

  "sameAs": [
    "https://www.facebook.com/uttarworld"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",

  "@type": "WebSite",

  "name": "Uttar World Elite Lifestyle Store",

  "url": "https://www.uttarworld.com/",

  "description": "{{ home_seo.meta_description|default:''|striptags|escapejs }}",

  "keywords": "{{ home_seo.meta_keywords|default:''|escapejs }}"
}
</script>