<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ product.title|escapejs }}",
  {% with first_variant=product.variants.first %}
    {% if first_variant and first_variant.image_url %}
  "image": "{{ first_variant.image_url }}",
    {% endif %}
  "sku": "{{ first_variant.variant_code|default:'N/A' }}",
  {% endwith %}
  "description": "{{ product.meta_description|default:product.title|striptags|truncatechars:160|escapejs }}",
  {% if product.meta_keywords %}
  "keywords": "{{ product.meta_keywords|escapejs }}",
  {% endif %}
  "brand": {
    "@type": "Brand",
    "name": "Uttar World Elite Lifestyle Store"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ product.rating|default:'4.5' }}",
    "reviewCount": "{{ product.review_count|default:'15' }}"
  },
  "offers": {
    "@type": "Offer",
    "url": "https://www.uttarworld.com{{ request.path }}",
    "priceCurrency": "{{ product.currency }}",
    {% with first_coupon=product.variants.first.coupons.first %}
    "price": "{% if first_coupon and first_coupon.selling_price %}{{ first_coupon.selling_price }}{% else %}0{% endif %}",
    {% endwith %}
    "priceValidUntil": "2026-12-31",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "{% if product.is_available %}https://schema.org/InStock{% else %}https://schema.org/OutOfStock{% endif %}",
    "hasMerchantReturnPolicy": {
      "@type": "MerchantReturnPolicy",
      "applicableCountry": "IN",
      "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
      "merchantReturnDays": 10
    },
    "shippingDetails": {
      "@type": "OfferShippingDetails",
      "shippingRate": {
        "@type": "MonetaryAmount",
        "value": "0",
        "currency": "{{ product.currency }}"
      },
      "shippingDestination": {
        "@type": "DefinedRegion",
        "addressCountry": "IN"
      },
      "deliveryTime": {
        "@type": "ShippingDeliveryTime",
        "handlingTime": {
          "@type": "QuantitativeValue",
          "minValue": 1,
          "maxValue": 2
        },
        "transitTime": {
          "@type": "QuantitativeValue",
          "minValue": 3,
          "maxValue": 7
        }
      }
    }
  }
}
</script>